.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
}

.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}
  
.navigationBar li {
    float: left;
}
  
.navigationBar li a {
    display: block;
    padding: 8px;
}

.navigationBar li button {
    margin-left: 30%;
    background-color: darkcyan; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor:pointer;
}


.multiline {
    white-space: wrap;
}

.article_date {
    padding: 10px;
}

.article_container {
    padding: 10px;
    padding-right: 250px;
    background-color: #EEEEEE;
}

p {
    text-align: justify;
    line-height: 1.5;
}

.pageNavigationList {
    padding: 10px;
    list-style-type: none;
    background-color: #dddddd;;
}

.mainFlexColumn ul li {
    margin:0 0 10px 0;   
}

/*
    Flexbox settings
*/

.articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-size: 14px;
}

div.column:nth-of-type(1){
    flex: 15%;
    min-height: 100px;
}

div.column:nth-of-type(2){
    flex: 85%;
    min-height: 100px;
    padding: 0;
}

/*
    Modal styles
*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 350px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    margin-top: 10px;
}

.modal form {
    margin: 20px 0 20px;
}

#submitEmail {
    margin-top: 5%;
    margin-left: 80%;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

@media only screen and (max-width: 575px) {
    .article_container {
        padding-right: 0px;
    }

    img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 90%;
        margin: 20px auto;
    }

    .navigationBar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigationBar #subscribe {
        margin-left: 0%;
    }
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}